# Python Müll
__pycache__/
*.py[cod]
*.log
venv/
.pytest_cache/

# Umgebungsvariablen (GEHEIMNISSE!)
.env

# Datenbank
*.db
*.sqlite3

# Node.js / React Müll
node_modules/
frontend/dist/
.DS_Store
Thumbs.db

# IDE / Editor Einstellungen
.vscode/
.idea/