/* =========================================
   RECIPE-CARD STYLES
   ========================================= */

.dashboard__card {
    background: white;
    border-radius: 1rem;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(0,0,0,0.10);
}

.dashboard__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.dashboard__card h3 {
    margin-top: 0;
    color: #2c3e50;
}

.dashboard__cardContent {
    padding: 0.5rem;
    margin: 0;
}

.dashboard__picture {
    border-radius: 1rem;
}

/* Mobile Anpassung Bild */
@media (max-width: 764px) {
    .dashboard__picture {
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
}

.dashboard__cardContentDetailsWrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

/* Kochzeit-Badge */
.dashboard__cookingTimeBox {
    display: inline-flex;
    align-items: center;      
    justify-content: center;   
    gap: 0.4rem;
    height: 1.3rem;          
    padding: 0 0.5rem;       
    border-radius: 2rem;
    border: 1px solid black;
    color: white;
    background-color: rgb(20, 20, 20);
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1;           
}

/* Vegan/Veggie-Badge */
.dashboard__veganBox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.3rem;          
    width: 1.3rem;           
    border-radius: 50%;       
    border: 1px solid rgb(35, 156, 35);
    background-color: rgb(33, 138, 38);
    color: white;
}