.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    font-size: 1.25rem;
    box-sizing: border-box;
    padding: 1.25rem;
    line-height: 1;
    font-size: 1rem;

    border-bottom: 1px solid #e0e0e0; /* Linie */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo {
    height: 3rem;
    width: auto;
}

.header__logoutPart {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
}

.header__btnLogOut {
    cursor: pointer;
}


@media (max-width: 768px){
    .header__logoutText {
        display: none;
    }
}
