/* =========================================
   1. POPUP-OVERLAY
   ========================================= */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease-out; 
}

/* =========================================
   2. POPUP-MODAL
   ========================================= */
.popup__modal {
    background: white;
    padding: 1.25rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 35rem;     
    box-sizing: border-box;   
    animation: popIn 0.3s;    
}

/* =========================================
   3. CLOSE BUTTON
   ========================================= */
.popup__btnClose {
    cursor: pointer;
    transition: transform 0.5s;
    color: rgb(97, 97, 97);
}

.popup__btnClose:hover {
    transform: scale(1.1);  
}

/* =========================================
   4. HEADER
   ========================================= */
.popup__header {
    display: flex;                  
    align-items: center;          
    justify-content: space-between;  
    gap: 1rem;                       
}

.popup__header h2 {
    margin: 0;
}

/* =========================================
   5. FORM
   ========================================= */
.popup__form {
    margin-top: 2rem; 
}

/* =========================================
   6. ANIMATIONEN
   ========================================= */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
